<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" (click)="irConTipo('')">Coleccion</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link" (click)="irConTipo('anime')">Anime</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="irConTipo('series')">Series</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="irConTipo('peliculas')">Peliculas</button>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link" (click)="irConTipo('juegos')">Juegos</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="conteiner">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <h2 class="text-center">Nuevo Elemento</h2>
      <form (ngSubmit)="crearElemento()" novalidate #f="ngForm" class="p-3 bg-primary-subtle border-primary">
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="nombre" required>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="tipo">Tipo</label>
              <select class="form-control" name="tipo" id="tipo" [(ngModel)]="tipo" required>
                <option value="ANIME">ANIME</option>
                <option value="JUEGOS">JUEGOS</option>
                <option value="PELICULAS">PELICULAS</option>
                <option value="SERIES">SERIES</option>
                <option value="ANULADO">ANULADO</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating">
              <label for="descripcion"></label>
              <textarea class="form-control" name="descripcion" id="descripcion" style="height: 100px"
                [(ngModel)]="descrip"></textarea>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-group">
              <label for="detalles">Detalles</label>
              <input type="text" class="form-control" name="detalles" id="detalles" [(ngModel)]="obs" required>
            </div>
          </div>

          <div class="mt-2">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" name="esta" id="esta" autocomplete="off" [(ngModel)]="esta">
              <label class="btn btn-outline-primary" for="esta">Está?</label>
            </div>
          </div>
          <div>
            <div>
              <label class="form-label" for="imagen"></label>
              <input class="form-control" type="file" name="imagen" id="imagen" (change)="onFileChange($event)"
                accept="image/*" required>
            </div>
          </div>
        </div>
        <div>
          <tr>
            <td>
              <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.valid"> Guardar</button>
            </td>
            <td>
              <button class="btn  btn-primary btn-block" routerLink="/"><i class="fa-solid fa-backward-fast"
                  style="color: #000000;"></i>
                Volver</button>
            </td>
          </tr>
        </div>
      </form>
    </div>
  </div>
</div>